html
{
  scroll-behavior: smooth;
}
body
{
    /*font-family: Arial, sans-serif;
    line-height: 1.6;*/
    margin: 0;
    padding: 0;
    text-align: center;

    min-height: 800px;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: antiquewhite;*/
}



main
{
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #333;*/
    /*color: white;*/
}

nav
{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #333;*/
    /*color: white;*/
    border-bottom: 1px solid lightgray;
    background-color: lightgray;
}

footer
{
    padding: 8px;

    border-top: 1px solid lightgray;
    background-color: lightgray;
}

a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}

.panel
{
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

    background-color: ghostwhite;
}

.dark
{
    background-color: #333;
    color: #f4f4f4;
}
.light
{
    background-color: #f4f4f4;
    color:#333;
}

.card
{
	background-color:rgb(235, 235, 235);
    min-width: 200px;
    margin: 10px;
	padding: 10px;
    display: flex;
    flex-direction: column;
	align-items: center;
	text-align: left;
    border:#333 solid 1px;
	border-radius: 10px;
}


.border
{
    border: 1px solid #333;
    border-radius: 4px;
}
.column
{
    display: flex;
    flex-direction: column;
	align-items: center;
}
.row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.button
{
    border: solid 1px #333;
    text-decoration: none;
    display: inline-block;
    margin: 8px;
    padding: 4px 16px;
    cursor: pointer;
    transition: all 1s;
    background-color: #cccccc;
    color: #333;
}
.button:hover
{
    filter: invert(1);
}


.imageSmall
{
    width: 60px;
}

ul
{
    padding-inline-start: 0px;
}


.grid
{
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 800px)
{
	.grid
    {
        grid-template-columns: 1fr 1fr;
    }
}



.rounded
{
	padding: 8px;
	border: 1px solid #333;
}



.images
{
    /*display: grid;
	grid-template-columns: 1fr 1fr 1fr;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: whitesmoke;
	border: 1px solid silver;
	border-radius: 16px;
	padding: 8px;
}
.images img
{
    max-width: 200px;
    margin: 8px;
    border-radius: 16px;
    overflow: hidden;
}


.gallery {
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: whitesmoke;
	border: 1px solid silver;
	border-radius: 16px;
	padding: 8px;
}
.gallery figure
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 8px;
    padding: 8px;
	border-radius: 16px;
	border: 1px solid silver;
	background-color: white;
	/*transition: background-color 1s, transform 1s;*/
    /*overflow: hidden;*/
}
/*.gallery figure:hover
{
	background-color: lightgray;
	transform: scale(1.25);
}*/
/*div.gallery figcaption
{
}*/
.gallery figure img
{
	max-width: 200px;
	border-radius: 16px;
	/*transition: transform 1s;*/
}
/*div.gallery figure img:hover
{
	transform: scale(2);
}*/

.clickable
{
    /*background-color: lightblue;*/
    cursor: pointer;
    transition-duration: 1s;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
}
.clickable:hover
{
    transform: translate(0px, -8px);
    /*filter: invert(100%);*/
}






.name
{
    margin: 8px;
    padding:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*color: slategray;*/
    color:white;
    background-color: slategray;
    border-radius: 8px;
    /*font-family: 'Elsie Swash Caps', sans-serif;*/
    text-transform: uppercase;
    
    transition-duration: 1s;
}
.name:hover
{
    /*color: black;*/
    text-shadow: 0px 0px 10px white;
}
.name:hover .first
{
    max-width: 87px;
}
.name:hover .last
{
    max-width: 33px;
}

.capitalize
{
    font-size:xx-large;
}
.letters
{
    font-size:large;
    max-width: 0px;
    overflow: hidden;
    transition-duration: 1s;
}