html
{
  scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    text-align: center;
	
}
main {
    /*max-width: 800px;*/
    /*margin: 20px 20px;*/
    /*padding: 20px;*/
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dark
{
    background-color: #333;
    color: #f4f4f4;
}
.light
{
    background-color: #f4f4f4;
    color:#333;
}

.card
{
	background-color: lightgray;
    min-width: 200px;
    min-height: 200px;
    margin: 20px;
	padding: 20px;
    display: flex;
    flex-direction: column;
	align-items: center;
	text-align: left;
	border-radius: 20px;
}

.area
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.border
{
    border: 1px solid #333;
    border-radius: 4px;
}
.column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}
.row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.button
{
    border: solid 1px #333;
    text-decoration: none;
    display: inline-block;
    margin: 8px;
    padding: 4px 16px;
    cursor: pointer;
}
.button:hover
{
    background-color:darkgray;
}


.imageSmall
{
    width: 60px;
}





.header {
    text-align: center;
}
.contactcard {
    margin: 10px 0;
    font-size: 14px;
    
}
.contactcard a {
    color: #007bff;
    text-decoration: none;
}
.underline {
    margin-bottom: 10px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}
nav
{
	border: 1px solid black;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
ul
{
    padding-inline-start: 0px;
}


.skills ul  {
    list-style: none;
    padding: 0;
}
.skills ul li {
    display: inline-block;
    background: #007bff;
    color: #fff;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 4px;
}


.grid
{
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 800px)
{
	.grid
    {
        grid-template-columns: 1fr 1fr;
    }
}