html
{
  scroll-behavior: smooth;
}

body
{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
	
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav
{
    margin: 8px;
}

main
{
    flex-grow: 1;
}

footer
{
    margin-top: 100px;
}

.panel
{
    /*max-width: 800px;*/
    /*margin: 20px 20px;*/
    /*padding: 20px;*/
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.dark
{
    background-color: #333;
    color: #f4f4f4;
}
.light
{
    background-color: #f4f4f4;
    color:#333;
}

.card
{
	background-color: lightgray;
    min-width: 200px;
    margin: 10px;
	padding: 10px;
    display: flex;
    flex-direction: column;
	align-items: center;
	text-align: left;
	border-radius: 10px;
}


.border
{
    border: 1px solid #333;
    border-radius: 4px;
}
.column
{
    display: flex;
    flex-direction: column;
	align-items: center;
}
.row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.button
{
    border: solid 1px #333;
    text-decoration: none;
    display: inline-block;
    margin: 8px;
    padding: 4px 16px;
    cursor: pointer;
    transition: all 1s;
    background-color: #f4f4f4;
    color: #333;
}
.button:hover
{
    background-color:darkgray;
    color: white;
}


.imageSmall
{
    width: 60px;
}

ul
{
    padding-inline-start: 0px;
}


.grid
{
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 800px)
{
	.grid
    {
        grid-template-columns: 1fr 1fr;
    }
}



.rounded
{
	padding: 8px;
	border: 1px solid #333;
}


iframe {
	min-width: 800px;
	min-height: 450px;
	margin: 0 auto;
	display: block;
	background-color: lightgray;
	border: 1px solid #333;
	text-align: center;
	/*background-image: url("images/farm/farming.gif");*/
}

.important
{
	font-size: 120%;
	color: red;
}
.special
{
	font-size: 120%;
	color: lightblue;
}




.gallery {
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: whitesmoke;
	border: 1px solid silver;
	border-radius: 16px;
	padding: 8px;
}
.gallery figure
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 8px;
	padding: 8px;
	border-radius: 16px;
	border: 1px solid silver;
	background-color: white;
	/*transition: background-color 1s, transform 1s;*/
}
/*.gallery figure:hover
{
	background-color: lightgray;
	transform: scale(1.25);
}*/
/*div.gallery figcaption
{
}*/
.gallery figure img
{
	max-width: 200px;
	/*border-radius: 20px;*/
	/*transition: transform 1s;*/
}
/*div.gallery figure img:hover
{
	transform: scale(2);
}*/